#lintings .listing img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#listings .card {
  margin-bottom: 20px;
}

#listings .card-text {
  margin-top: 10px;
  height: 150px;
  overflow: scroll;
}

body {
    background-color: #101020;
    color: white;
}

.navbar {
    background-color: #202040;
}

.bg-body-tertiary, .navbar {
  background-color: #202040 !important;
  background-image: none !important;
  color: #ffffff !important;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar .navbar-brand,
.navbar .nav-link,
.navbar .navbar-toggler {
  color: #ffffff !important;
  font-size: 20px;
}

.navbar-toggler-icon {
  filter: invert(100%);
}

.card {
    background-color: #202040;
}

.card-body {
    color: white;
    padding:10 px;
}

.host-picture {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border-radius: 50%;
    border: 2px solid black;
}